@model PurchaseControlSystem.Models.Purchase_Transaction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Purchase_Transaction</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PackSize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PackSize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GrossValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GrossValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceiveDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceiveDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceiveBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceiveBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VarifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VarifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VarifiedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VarifiedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TermsCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TermsCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TermsPrinted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TermsPrinted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LpoStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LpoStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinanceApproved)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinanceApproved)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationApproved)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationApproved)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentVAT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentVAT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseVAT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseVAT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cost_Center.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cost_Center.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Item_Category.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Item_Category.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Purchase_Header.AccountId_FK)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Purchase_Header.AccountId_FK)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Supplier.Short)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Supplier.Short)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Suffix.Suffix1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Suffix.Suffix1)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Purchase_TransactionId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
