@model IEnumerable<PurchaseControlSystem.Models.Purchase_Transaction>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermsPrinted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LpoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinanceApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseVAT)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Header.AccountId_FK)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiveBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermsCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermsPrinted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LpoStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinanceApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseVAT)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purchase_Header.AccountId_FK)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Purchase_TransactionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Purchase_TransactionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Purchase_TransactionId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
