@model PurchaseControlSystem.Models.Product

@{
    Layout = "~/Views/Shared/_head.cshtml";
}

<section class="light-bg p-5 min-vh-100">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-5 mx-auto bg-white px-4 pt-4 pb-3 rounded">
                <h5 class="mb-0 primary-bg text-white p-2 text-center mb-3 rounded">Product</h5>
                @using (Html.BeginForm("Create", "Products", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Product Name</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" id="ProductName" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Unit Price</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Suffix</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.Suffix, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Terms Code</span>
                        </div>
                        <div class="d-inline-block w-50">
                            <a href="#termsConditions" data-toggle="modal" class="px-2 py-1 border font">Select Terms and Conditions</a>
                            @*@Html.EditorFor(model => model.TermsCode, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })*@
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Item Category ID</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.DropDownList("ItemCategoryId_FK", null, htmlAttributes: new { @class = "form-control font rounded w-100 input-height" })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Product Type</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.ProductType, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Pack Size</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.PackSize, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        
                        <div class="d-inline-block w-50">

                            <input type="submit" value="Add Product" class="btn btn-info">
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="termsConditions">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">Select Terms and Conditions</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>