@model PurchaseControlSystem.Models.Product

@{
    Layout = "~/Views/Shared/_head.cshtml";
}
<section class="light-bg p-5 min-vh-100">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-5 mx-auto bg-white px-4 pt-4 pb-3 rounded">
                <h5 class="mb-0 primary-bg text-white p-2 text-center mb-3 rounded">Product</h5>
                @using (Html.BeginForm("Create", "Products", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.ProductId)
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Product Name</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.TextBoxFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height", @id = "ProductName" } })
                            @*<input type="text" id="ProductName" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Unit Price</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.TextBoxFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Suffix</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.Suffix, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Terms Code</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.TermsCode, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Item Category ID</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.DropDownList("ItemCategoryId_FK", null, htmlAttributes: new { @class = "form-control font rounded w-100 input-height" })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Product Type</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.ProductType, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 px-3 w-50">
                            <span>Pack Size</span>
                        </div>
                        <div class="d-inline-block w-50">
                            @Html.EditorFor(model => model.PackSize, new { htmlAttributes = new { @class = "form-control font rounded w-100 input-height" } })
                            @*<input type="text" class="form-control font rounded w-100 input-height">*@
                        </div>
                    </div>
                    <div class="d-block my-2">

                        <div class="d-inline-block w-50">

                            <input type="submit" value="Add Product" class="btn btn-info">
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Return Home", "Index")
                </div>
            </div>
        </div>
    </div>
</section>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@