@model IEnumerable<PurchaseControlSystem.Models.Purchase_Transaction>

@*@model IEnumerable<PurchaseControlSystem.ViewModel.PurchaseOrder_VM>*@

@{
    ViewBag.Title = "PO list";
    Layout = "~/Views/Shared/_head.cshtml";
}

@*<style>
    .p-0 {
        padding: 0 !important
    }

</style>*@

<section class="light-bg p-5 min-vh-100">
    <div class="container-fluid">
        <div class="row bg-white py-3">
            <div class="col-12">
                <h5 class="mb-0 primary-bg text-white p-2 text-center rounded">Purchase Order For Approval</h5>
            </div>
            <form class="w-100" id="purchase-order-approval">
                <div class="col-md-4 ml-auto mt-2">
                    <div class="d-block my-2">
                        <div class="d-inline-block rounded primary-bg text-white py-1 font px-4">
                            <button class="primary-bg border-0 text-white">Search By</button>
                        </div>
                        <div class="d-inline-block">
                            <input type="text" class="form-control font rounded w-100 input-height">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-2">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered font mb-0" id="customFields">
                            <tr class="primary-bg text-white">
                                <th class="font text-truncate text-center">Order No.</th>
                                <th class="font text-truncate text-center">Supplier Code</th>
                                <th class="font text-truncate text-center">Supplier Name</th>
                                <th class="font text-truncate text-center">Currency</th>
                                <th class="font text-truncate text-center">Order Date</th>
                                <th class="font text-truncate text-center">Department</th>
                                <th class="font text-truncate text-center">Cost Center</th>
                                <th class="font text-truncate text-center">Created By</th>
                                <th class="font text-truncate text-center">Amount (CUR)</th>
                                <th class="font text-truncate text-center">Exch. Rate</th>
                                <th class="font text-truncate text-center">Base Amt (OMR)</th>
                                <th colspan="2" class="font text-truncate">Status</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.OrderNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.AccountId_FK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.SupplierName)
                                    </td>
                                    <td>
                                        @Html.Display("Currency")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.Department.Department_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CostCenterId_FK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Header.CreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GrossValue)
                                    </td>
                                    <td>
                                        @Html.Display("Exchange Rate")
                                    </td>
                                    <td>
                                        @Html.Display("Base Amount")
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderNo }) |*@
                                        @Html.ActionLink("View", "Details", new { id = item.OrderNo_FK })
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.OrderNo })*@
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
